registry=https://npm.intranet.commerzbank.com/nexus/content/groups/npm-all/
#registry=https://npm.intranet.commerzbank.com/nexus/content/groups/npm-internal/

# frame-npm-deployer user must exist in target registry (Nexus) with priviledge "All npm repos (Full Control)"  
email=me@there
#strict-ssl=false
